@import '../../scss/base/index.scss';

.btn {
  @include button;
  background: lightsalmon;
  color: $white;
  align-self: flex-end;
  transition: 0.5s;
}

.btn:hover {
  color: #f8f8f8;
  background: rgb(148, 137, 137);
}
