@import '../../scss/base/index.scss';

.btn {
  @include button;
  background: $primary-color;
  color: $white;
  align-self: flex-end;
  transition: 0.5s;
}

.btn:hover {
  color: $white;
  background: $dark-grey;
}
