@import '../../scss/base/index.scss';

.btn {
  @include button;
  background: lightsalmon;
  color: $white;
  align-self: flex-end;
  // border: 1px solid $gradient-yellow;
}

.btn--light {
  @include button;
}

.bg-purple {
  background-image: $gradient-purple;
}

.bg-green {
  background-image: $gradient-green;
}

.bg-blue {
  background-image: $gradient-blue;
}

.bg-yellow {
  background-image: $gradient-yellow;
}

.bg-orange {
  background-image: $gradient-orange;
}

.bg-lightblue {
  background-image: $gradient-lightblue;
}
