@import 'colors';
@import 'typography';

/* =======================
    BUTTONS
======================= */

@mixin button {
  border-radius: 0.8em;
  color: $secondary-color;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: $font-size-base;
  font-weight: $light;
  line-height: 1;
  padding: 0.8rem 0.8rem;
  text-align: center;
  text-transform: uppercase;
  font-family: $font-family-quotes;

  &:hover,
  &:focus {
    color: $tertiary-color;
    outline: 0;
  }

  &:hover {
    color: red;
  }
}
