//sizing

$xxl-text-size: 3.052rem;
$xl-text-size: 2.441rem;
$lg-text-size: 1.953rem;
$md-text-size: 1.563rem;
$md-plus-text-size: 1.25rem;
$std-text-size: 1rem;
$sm-text-size: 0.8rem;

// heading margins

// text margins
