@import './base/index.scss';

.container {
  height: 100vh;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  .quoteSection {
    .quoteBox {
      padding: 0.5rem;
      height: auto;
      width: 32rem;
      background-color: $primary-color;
      border-radius: 1%;
      z-index: 2;
    }
    .siteAuthorName {
      padding-top: 0.5rem;
      color: $tertiary-color;
      font-family: $font-family-quotes;
      margin: 0;
      text-align: center;
    }
  }
  .mediaContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
  }
}

/* ================================
    Gradient-Loop on button click
================================ */

.bg-purple {
  color: #4a474d;
  background-blend-mode: darken;
  background-image: url('../images/mangroves.svg'), $gradient-purple;
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  // background-position: -50% 200%;
}

.bg-green {
  background-image: url('../images/mangroves.svg'), $gradient-green;
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
}

.bg-blue {
  background-image: url('../images/mangroves.svg'), $gradient-blue;
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
}

.bg-yellow {
  background-image: url('../images/mangroves.svg'), $gradient-yellow;
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
}

.bg-orange {
  background-image: url('../images/mangroves.svg'), $gradient-orange;
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
}

.bg-lightblue {
  background-image: url('../images/mangroves.svg'), $gradient-lightblue;
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
}

.fade {
  animation: fadeinout 0.5s linear;
  opacity: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes fadeinout {
  0% {
    opacity: 0;
  }
}

$list: purple, green, blue, yellow, orange, lightBlue;

@each $list, $color in $list {
  .bg-#{$list} {
    background-image: #{'$gradient-' + $list};
  }
}

/* ================================
    SPECIAL FX
================================ */

//Free Vector Design by: <a rel="nofollow" href="https://www.vecteezy.com">Vecteezy</a>
