@import './base/index.scss';

.container {
  height: 100vh;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.section {
  .quoteBox {
    padding: 0.5rem;
    height: auto;
    width: 32rem;
    background-color: $primary-color;
    border-radius: 1%;
  }
  .siteAuthorName {
    padding-top: 0.5rem;
    color: $tertiary-color;
    font-family: $font-family-quotes;
    margin: 0;
    text-align: center;
  }
}

/* ================================
    Gradient-Loop on button click
================================ */

.bg-purple {
  background-image: $gradient-purple;
}

.bg-green {
  background-image: $gradient-green;
}

.bg-blue {
  background-image: $gradient-blue;
}

.bg-yellow {
  background-image: $gradient-yellow;
}

.bg-orange {
  background-image: $gradient-orange;
}

.bg-lightblue {
  background-image: $gradient-lightblue;
}

// $list: purple, green, blue, yellow, orange, lightBlue;

// @each $list, $color in $list {
//   .bg-#{$list} {
//     background-image: #{'$gradient-' + $list};
//   }
// }
